---
layout: layout.pug
permalink: /config-generator/index.html
---

mixin radio(name, value, projectFile=null, globalFile=null)
    input(type="radio" id=value name=name value=value required data-project= projectFile data-global=globalFile)
    label(for=value)=value
- const dataSet = dataSets[0]
- const features = dataSet.features
- const tools = dataSet.tools;

link(rel="stylesheet", href="/static/cfgGen.css")
form
    fieldset#general-settings
        legend General settings
        fieldset
            legend Scope
            +radio("scope", "project")
            +radio("scope", "global")
        
        fieldset
            legend Tools
            for tool in tools   
                unless tool.config_generator
                    +radio("tool", tool.id)
                else
                    +radio("tool", tool.id, tool.config_generator.project, tool.config_generator.global)
    hr

    section#inputs!=inputs

    hr

    section#output
        h2 Output
        span#filename
        textarea#out
        
    //for feature, featureIndex in features
        fieldset
            legend=feature.title
            for impl, toolId in feature.implementations
                if impl.config_generator
                    - const cfg = impl.config_generator
                    input(type=cfg.arg, name=`f${featureIndex}-${toolId}`)

    script(src="/static/cfgGen.js")